h1 {
	color: green;
	text-align: center;
	background-color: #b9ff46;
	height: 100px;
	margin-top: -8px;
	margin-right: -10px;
	margin-left: -10px;
	font-size: 50px;

}

body {
	font-size: 16px;
	color: #fff;
	background-color: green;
	font-family: 'Oxygen', sans-serif;
}

div {
	margin-left: 150px;
}

#bg {
	margin-left: 160px;
	width: 700px;
	height: 600px;
    background-image: url("School_kid.jpg");
    margin-bottom: 30px;
	
}

p img {
	margin-left: 30px;
	float: left;
	margin-bottom: 30px;
}